@import './theme.scss';
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
} /*!sc*/
.iconfont {
  color: $normalFontColor;
}
html {
  font-family: "Ubuntu, sans-serif";
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: $linkHoverColor;
}

:-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-track {
  display: none;
  border-radius: 0;
  background: transparent;
}
.blog-leave-active {
  transition: all .2s ease;
}
.blog-enter-active
{
  transition: all .5s ease;
}

.blog-enter,
.blog-leave-active {
  opacity: 0;
}

.markdown-content {
  color: $blogDetailColor;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 10px 0;
    line-height: 2;
  }
  h1 {
    font-size: 1.8em;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  h2 {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.6em;
    background-color: $blogTitBgColor;
    border-radius: 10px;
    color: white;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: .8em;
  }
  p {
    line-height: 1.8;
    margin: 10px 0;
  }
  ul {
    box-sizing: border-box;
    padding-left: 20px;
    margin: 10px 0;
  }
  li {
    line-height: 2;
  }
  a {
    text-decoration: none;
    color: #00b2ff;
  }
  .hljs {
    border-radius: 3px;
  }
  pre {
    margin: 1em 0;
    padding: 0.5em;
    overflow-x: auto;
  }
  table {
    text-align: center;
  }
  tr {
    line-height: 1.8;
  }
  img {
    max-width: 100%;
  }
  blockquote {
    box-sizing: border-box;
    width: 80%;
    line-height: 1.8;
    padding-left: 10px;
    border-left: 3px solid  $mdBlockquoteLineColor;
    color: $mdBlockquoteColor;
    font-size: .8em;
    border-radius: 5px;
  }
}

